@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.CategoriaViewModel>

<input type="hidden" value="@ViewBag.Toast" id="toast" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1 class="text-center">Categorias</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Agregar Una Categoria</button>
    </div>
</div>
<table id="example" class="table dataTable compact hover stripe" style="width: 100%;" aria-describedby="example_info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cate_Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cate_Descripcion)
                </td>
                <td class="text-end">
                    <button type="button" id="btnEditar" class="btn btn-outline-primary btn-sm" onclick="AbrirModalEdit('@item.cate_Id,@item.cate_Descripcion')">Editar</button> |
                    <a  class="btn btn-outline-secondary btn-sm" asp-action="Details" asp-route-id="@item.cate_Id">Details</a> |
                    <button type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.cate_Id')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_CategoriasCreateViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.CategoriaViewModel())

@Html.Partial("_CategoriasEditViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.CategoriaViewModel())

@Html.Partial("_CategoriasDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.CategoriaViewModel())


<script src="~/js/App/Salon/Categorias.js"></script>