@*@model SalonDeBellezaCarlitos.Entities.Entities.tbProductos*@
@model SalonDeBellezaCarlitos.WebUI.Models.ProductoViewModel


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Producto</h1>

<div>
    <hr />
    <input type="hidden" asp-for="prod_Id" value="@ViewBag.prod_Id" />
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.prod_Nombre)</label><br />
            <label>@ViewBag.prod_Nombre</label>
        </div>
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.prod_Precio)</label><br />
            <label>@ViewBag.prod_Precio</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.prod_Stock)</label><br />
            <label>@ViewBag.prod_Stock</label>
        </div>
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.cate_Id)</label><br />
            <label>@ViewBag.cate_Id</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.prov_id)</label><br />
            <label>@ViewBag.prov_Id</label>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-primary mx-1" asp-action="Edit" asp-route-id="@ViewBag.prod_Id">Editar</a>
            <a class="btn btn-dark" asp-action="Index">Regresar al listado</a>
        </div>

    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color:#8e618d;">
            <h3 class="text-white ">Auditoria</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Accion</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creado</td>
                        <td>@ViewBag.UsuarioCreacion</td>
                        <td>@ViewBag.FechaCreacion</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@ViewBag.UsuarioModificacion</td>
                        <td>@ViewBag.FechaModificacion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />
