@model SalonDeBellezaCarlitos.Entities.Entities.tbProductos

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-decoration-underline text-center">EDITAR PRODUCTOS</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" asp-for="prod_Id" value="@ViewBag.prod_Id" />
                    <div class="form-group">
                        <label asp-for="prod_Nombre" class="control-label">Nombre</label>
                        <input asp-for="prod_Nombre" class="form-control" value="@ViewBag.prod_Nombre" />
                        <span asp-validation-for="prod_Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Precio" class="control-label">Precio</label>
                        <input asp-for="prod_Precio" class="form-control" value="@ViewBag.prod_Precio" />
                        <span asp-validation-for="prod_Precio" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="cate_Id" class="control-label">Id Categoria</label>
                        <select asp-for="cate_Id" class="form-control" asp-items="@ViewBag.cate_Id"></select>
                        <span asp-validation-for="cate_Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prod_Stock" class="control-label">Stock</label>
                        <input asp-for="prod_Stock" class="form-control" value="@ViewBag.prod_Stock" />
                        <span asp-validation-for="prod_Stock" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="prov_id" class="control-label">Id Proveedor</label>
                        <select asp-for="prov_id" class="form-control" asp-items="@ViewBag.prov_id"></select>
                        <span asp-validation-for="prov_id" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex justify-content-end">
                <input type="submit" value="Editar Registro" class="btn btn-primary" />
                <a class="btn btn-dark mx-1" asp-action="Index">Regresar al listado</a>
            </div>
        </form>
    </div>
</div>


