@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.ProductoViewModel>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1 class="text-decoration-underline text-center">LISTADO PRODUCTOS</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        <a class="btn btn-primary" asp-action="Create">Agregar un Producto</a>
        @*<button class="btn btn-primary" onclick="AbrirModalCreate()">Crear un nuevo cargo</button>*@
    </div>
</div>
<table id="example" class="table dataTable compact hover stripe" style="width: 100%;" aria-describedby="example_info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prod_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prod_Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cate_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prov_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prod_Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cate_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.prov_id)
                </td>
                <td class="text-end">
                    <a style="padding-top: 1.0%; font-size: 10px; height:25px;" class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.prod_Id">Editar</a> |
                    <a style="padding-top: 1.0%; font-size: 10px; height:25px;" class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.prod_Id">Detalles</a> |
                    <button style="padding-top: 1.0%; font-size: 10px; height:25px;" type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.prod_Id')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_ProductoDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.ProductoViewModel())

<script src="~/js/App/Salon/Productos.js"></script>
