@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.VWSucursalesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1>Index</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        @*<a asp-action="Create">Create New</a>*@
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Agregar Una Sucursal</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sucu_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sucu_DireccionExacta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.muni_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depa_Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sucu_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sucu_DireccionExacta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.muni_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depa_Descripcion)
                </td>
                <td>
                    <button style="padding-top: 1.5%; font-size: 10px; height: 25px;" type="button" id="btnEditar" class="btn btn-outline-warning btn-sm" onclick="AbrirModalEdit('@item.sucu_Descripcion,@item.depa_Id,@item.muni_Id,@item.sucu_DireccionExacta,@item.sucu_Id')">Editar</button> |
                    <a style="padding-top: 1.5%; font-size: 10px; height:25px;" class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.sucu_Id">Detalles</a>
                    <button style="padding-top: 1.5%; font-size: 10px; height:25px;" type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.sucu_Id')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.Partial("_SucursalCreateModalViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.SucursalViewModel())
@Html.Partial("_SucursalEditModalViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.SucursalViewModel())
@Html.Partial("_SucursalDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.SucursalViewModel())
<script src="~/js/App/Salon/Sucursales.js"></script>
