@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.ServicioViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1 class="text-underline">SERVICIOS</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        @*<a asp-action="Create">Create New</a>*@
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Agregar Un Servicio</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.serv_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv_FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.serv_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serv_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serv_Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serv_FechaCreacion)
                </td>
                <td>
                    <button style="padding-top: 1.5%; font-size: 10px; height:25px;" type="button" id="btnEditar" class="btn btn-outline-warning btn-sm" onclick="AbrirModalEdit('@item.serv_Id,@item.serv_Nombre,@item.serv_Descripcion,@item.serv_Precio')">Editar</button> |
                    <a style="padding-top: 1.5%; font-size: 10px; height:25px;" class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.serv_Id">Detalles</a> |
                    <button style="padding-top: 1.5%; font-size: 10px; height:25px;" type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.serv_Id')">Eliminar</button>

                </td>
            </tr>
        }
    </tbody>
</table>


@Html.Partial("_ServicioCreateModalViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.ServicioViewModel())

@Html.Partial("_ServicioEditModalViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.ServicioViewModel())

@Html.Partial("_ServicioDeleteModalViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.ServicioViewModel())

<script src="~/js/App/Salon/Servicios.js"></script>
