@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.VWMunicipiosViewModel>

<input type="hidden" value="@ViewBag.Toast" id="toast" />

@{ ViewData["Title"] = "Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row text-center">
    <div class="col">
        <h1>Municipios</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        @*<a asp-action="Create">Create New</a>*@
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Agregar un nuevo Municipio</button>
    </div>
</div>


<table class="table compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.muni_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depa_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.muni_Codigo)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.muni_Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.depa_Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.muni_Codigo)
    </td>
    <td class="text-end">
        <button type="button" id="btnEditar" class="btn btn-outline-warning btn-sm" onclick="AbrirModalEdit('@item.muni_Id,@item.muni_Codigo,@item.muni_Descripcion,@item.depa_Id')">Editar</button>
        <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.muni_Id">Details</a> 
        <button class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.muni_Id')">Delete</button>

    </td>
</tr>}
    </tbody>
</table>


@Html.Partial("_MunicipiosCreateViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.MunicipioViewModel())

@Html.Partial("_MunicipiosEditViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.MunicipioViewModel())

@Html.Partial("_MunicipiosDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.MunicipioViewModel())


<script src="~/js/App/General/Municipios.js"></script>