@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.CargoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1>Index</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        @*<a asp-action="Create">Create New</a>*@
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Crear un nuevo cargo</button>
    </div>
</div>

<table id="example" class="table dataTable compact hover stripe" style="width: 100%;" aria-describedby="example_info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.carg_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.carg_Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.carg_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.carg_FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.carg_FechaModificacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.carg_Estado)
                </td>
                <td>
                    <button style="padding-top: 1.5%; font-size: 10px; height:25px;" type="button" id="btnEditar" class="btn btn-outline-warning btn-sm" onclick="AbrirModalEdit('@item.carg_Id,@item.carg_Descripcion')">Editar</button> |
                    <a style="padding-top: 1.5%; font-size: 10px; height:25px;" class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.carg_Id">Details</a> |
                    <button style="padding-top: 1.5%; font-size: 10px; height:25px;" type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.carg_Id')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_CreateModalPartialView", new SalonDeBellezaCarlitos.WebUI.Models.CargoViewModel())

@Html.Partial("_CargosEditViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.CargoViewModel())

@Html.Partial("_CargosDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.CargoViewModel())


<script src="~/js/App/Salon/Cargos.js"></script>