@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-decoration-underline text-center">DETALLE CLIENTE</h1>
@foreach (var item in Model)
{
<div>
    <hr />
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.clie_Nombre)</label><br />
            <label>@Html.DisplayFor(model => item.clie_Nombre)</label>
        </div>
        <div class="col">
            <label class="text-black font-weight-bold"> @Html.DisplayNameFor(model => model.clie_Apellido)</label><br />
            <label> @Html.DisplayFor(model => item.clie_Apellido)</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.clie_Telefono)</label><br />
            <label>@Html.DisplayFor(model => item.clie_Telefono)</label>
        </div>
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.clie_CorreoElectronico)</label><br />
            <label>@Html.DisplayFor(model => item.clie_CorreoElectronico)</label>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color:#2a0637;">
            <h3 class="text-white ">Auditoria</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Accion</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creado</td>
                        <td>@ViewBag.UsuarioCreacion</td>
                        <td>@ViewBag.FechaCreacion</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@ViewBag.UsuarioModificacion</td>
                        <td>@ViewBag.FechaModificacion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div>
        <a style="padding-top: 0.5%; font-size: 10px; height:25px;" class="btn btn-outline-dark btn-lg" asp-action="Index">Regresar a la Lista</a>
    </div>
</div>

}