@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Cliente</h1>
@foreach (var item in Model)
{
<div>
    <hr />
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.clie_Nombre)</label><br />
            <label>@Html.DisplayFor(model => item.clie_Nombre)</label>
        </div>
        <div class="col">
            <label class="text-black font-weight-bold"> @Html.DisplayNameFor(model => model.clie_Apellido)</label><br />
            <label> @Html.DisplayFor(model => item.clie_Apellido)</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.clie_Telefono)</label><br />
            <label>@Html.DisplayFor(model => item.clie_Telefono)</label>
        </div>
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.clie_CorreoElectronico)</label><br />
            <label>@Html.DisplayFor(model => item.clie_CorreoElectronico)</label>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-primary mx-1" asp-action="Edit" asp-route-id="@ViewBag.spor_Id">Editar</a>
            <a class="btn btn-dark" asp-action="Index">Regresar al listado</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color:#8e618d;">
            <h3 class="text-white ">Auditoria</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Accion</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creado</td>
                        <td>@ViewBag.UsuarioCreacion</td>
                        <td>@ViewBag.FechaCreacion</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@ViewBag.UsuarioModificacion</td>
                        <td>@ViewBag.FechaModificacion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
</div>

}