@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.ClienteViewModel>

<input type="hidden" value="@ViewBag.Toast" id="toast" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1 class="text-center">Clientes</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        @*<a asp-action="Create">Create New</a>*@
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Agregar Un Cliente</button>
    </div>
</div>
<table id="example" class="table dataTable compact hover stripe" style="width: 100%;" aria-describedby="example_info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clie_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_CorreoElectronico)
            </th>
            <th class="text-end">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clie_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clie_Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clie_Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clie_CorreoElectronico)
                </td>
                <td class="text-end">
                    <button type="button" id="btnEditar" class="btn btn-outline-primary btn-sm" onclick="AbrirModalEdit('@item.clie_Id,@item.clie_Nombre,@item.clie_Apellido,@item.clie_Telefono,@item.clie_CorreoElectronico')">Editar</button> 
                    <a class="btn btn-outline-secondary btn-sm" asp-action="Details" asp-route-id="@item.clie_Id">Detalles</a>
                    <button type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.clie_Id')">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_ClienteCreateViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.ClienteViewModel())

@Html.Partial("_ClienteEditViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.ClienteViewModel())

@Html.Partial("_ClienteDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.ClienteViewModel())

<script src="~/js/App/Salon/Clientes.js"></script>
