@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.EstadoCivilViewModel>

<input type="hidden" value="@ViewBag.Toast" id="toast" />

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row text-center">
    <div class="col">
        <h1 class="text-decoration-underline text-center">LISTADO ESTADOS CIVILES</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Agregar Un Estado Civil</button>
    </div>
</div>
<table id="example" class="table dataTable compact hover stripe" style="width: 100%;" aria-describedby="example_info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.estc_Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.estc_Descripcion)
                </td>
                <td class="text-end">
                    <button style="padding-top: 1.0%; font-size: 10px; height:25px;" type="button" id="btnEditar" class="btn btn-outline-warning btn-sm" onclick="AbrirModalEdit('@item.estc_Id,@item.estc_Descripcion')">Editar</button> |
                    <a style="padding-top: 1.0%; font-size: 10px; height:25px;" class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.estc_Id">Details</a> |
                    <button style="padding-top: 1.0%; font-size: 10px; height:25px;" type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.estc_Id')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.Partial("_EstadoCivilCreateViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.EstadoCivilViewModel())

@Html.Partial("_EstadoCivilDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.EstadoCivilViewModel())

@Html.Partial("_EstadoCivilEditViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.EstadoCivilViewModel())


<script src="~/js/App/Salon/EstadosCiviles.js"></script>
