@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.MetodoPagoViewModel>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-center">Metodo de Pago</h1>
@foreach (var item in Model)
{
<div>
    <hr />
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.metp_Descripcion)</label><br />
            <label>@Html.DisplayFor(model => item.metp_Descripcion)</label>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-end">
            <button type="button" id="btnEditar" class="btn btn-primary btn-sm" onclick="AbrirModalEdit('@item.metp_Id,@item.metp_Descripcion')">Editar</button> |
            <a class="btn btn-dark" asp-action="Index">Regresar al listado</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color:#8e618d;">
            <h3 class="text-white ">Auditoria</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Accion</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creado</td>
                        <td>@ViewBag.UsuarioCreacion</td>
                        <td>@ViewBag.FechaCreacion</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@ViewBag.UsuarioModificacion</td>
                        <td>@ViewBag.FechaModificacion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    <hr />
}