@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.VWFacturasViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fact_Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAtendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metp_Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fact_Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clie_Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clie_Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAtendido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.metp_Descripcion)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.fact_Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<script src="~/js/App/Salon/Facturas.js"></script>