@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.VWFacturasViewModel>

<input type="hidden" value="@ViewBag.Toast" id="toast" />
@{
    ViewData["Title"] = "Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row text-center">
    <div class="col">
        <h1>Facturas</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        <a class="btn btn-primary" asp-action="Create">Comenzar factura</a>
        @*<button class="btn btn-primary" onclick="AbrirModalCreate()">Crear un nuevo cargo</button>*@
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Nombre del cliente</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAtendido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metp_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fact_Fecha)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clie_Nombre) @Html.DisplayFor(modelItem => item.clie_Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreAtendido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.metp_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fact_Fecha)
                </td>
                <td class="text-end">
                    <a class="btn btn-outline-warning btn-sm" asp-action="Edit" asp-route-id="@item.fact_Id">Editar</a>
                    <a class="btn btn-outline-info btn-sm" asp-action="Details" asp-route-id="@item.fact_Id">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<script src="~/js/App/Salon/Facturas.js"></script>