@model IEnumerable<SalonDeBellezaCarlitos.WebUI.Models.DepartamentoViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row text-center">
    <div class="col">
        <h1>Index</h1>
        <hr />
    </div>
</div>

<div class="row mb-3 text-center">
    <div class="col">
        @*<a asp-action="Create">Create New</a>*@
        <button class="btn btn-primary" onclick="AbrirModalCreate()">Agregar un departamento</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.depa_Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depa_Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depa_FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.depa_FechaModificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.depa_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depa_Codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depa_FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.depa_FechaModificacion)
                </td>
                <td>
                    <button style="padding-top: 1.5%; font-size: 10px; height:25px;" type="button" id="btnEditar" class="btn btn-outline-warning btn-sm" onclick="AbrirModalEdit('@item.depa_Id,@item.depa_Descripcion,@item.depa_Codigo')">Editar</button> |
                    <a asp-action="Details" asp-route-id="@item.depa_Id">Details</a> |
                    <button style="padding-top: 1.5%; font-size: 10px; height:25px;" type="button" id="btnEliminar" class="btn btn-outline-danger btn-sm" onclick="AbrirModalDelete('@item.depa_Id')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.Partial("_DepartamentosCreateViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.DepartamentoViewModel());

@Html.Partial("_DepartamentosEditViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.DepartamentoViewModel());

@Html.Partial("_DepartamentosDeleteViewPartial", new SalonDeBellezaCarlitos.WebUI.Models.DepartamentoViewModel());




<script src="~/js/App/Salon/Departamentos.js"></script>