@*@model SalonDeBellezaCarlitos.Entities.Entities.tbProductos*@
@model SalonDeBellezaCarlitos.WebUI.Models.ServicioxProductoViewModel


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Productos</h1>

<div>
    <hr />
    <input type="hidden" asp-for="spro_Id" value="@ViewBag.spro_Id" />
    <div class="row">
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.prod_Id)</label><br />
            <label>@ViewBag.prod_Nombre</label>
        </div>
        <div class="col">
            <label class="text-black font-weight-bold">@Html.DisplayNameFor(model => model.serv_Id)</label><br />
            <label>@ViewBag.serv_Nombre</label>
        </div>
    </div>


    <div class="row">
        <div class="col d-flex justify-content-end">
            <a class="btn btn-dark" asp-action="Index">Regresar al listado</a>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header" style="background-color:#8e618d;">
            <h3 class="text-white ">Auditoria</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Accion</th>
                        <th>Usuario</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Creado</td>
                        <td>@ViewBag.UsuarioCreacion</td>
                        <td>@ViewBag.FechaCreacion</td>
                    </tr>
                    <tr>
                        <td>Modificado</td>
                        <td>@ViewBag.UsuarioModificacion</td>
                        <td>@ViewBag.FechaModificacion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />



<script src="~/js/App/Salon/ServiciosXProducto.js"></script>
